* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 190, 190);
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  height: 100vh;
  /* width: 100vw; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  /* background-color: #0c0c0c; */
}
.icons-group {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 10px; */
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  background-color: black;
  position: fixed-top;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.icon {
  display: flex;
  gap: 20px;
  cursor: pointer;
  margin-top: 8px;
  color: white;
}
/*------------------------------------------ header-content---------------------------------------------- */
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-content h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 48px;
  font-weight: 700;
  color: #3c3c3c;
  line-height: 72px;
  height: auto;
  width: auto;
}
.header-content p{
  line-height: 1.5;
  margin: 0;
}
.header-content strong {
  background-color: blue;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
}
.header-content p {
  margin: 5px;
}
/* ------------------------------------------ baners---------------------------------------------- */
.banner {
  position: relative;
  overflow: hidden;
  align-items: left;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  color: black;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.banner h1,
.banner h2,
.banner button {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 60px;
  margin-left: 50px;
}
.banner h1 {
  top: 45%;
  bottom: 10%;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  justify-content: center;
  align-items: left;
  margin-left: 50px;
}
.banner h2 {
  top: 50%;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner button {
  top: 60%;
  background-color: grey;
  border: 0px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner button:hover {
  background-color: rgb(196, 182, 182);
}
/* ----------------------------------------post------------------------- */
.posts {
  display: block;
  float: left;
  width: 66%;
  margin-bottom: 40px;
}
.posts img {
  text-align: justify;
  vertical-align: middle;
  height: 631.338px;
  width: 910.388px;
  padding: 16px 0 16px 0;
  display: inline;
}

.posts h1 {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none solid rgb(0, 0, 0);
  word-spacing: 0px;
  height: 36px;
  width: 910.388px;
  margin: 10px 0 10px 0;
  display: block;
}
.posts h6 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  height: 27px;
  width: 910.388px;
  margin: 10px 0 10px 0;
  display: block;
}
.posts p {
  font-size: 15px;
  line-height: 22.5px;
  text-align: justify;
  height: 90px;
  width: 900.388px;
  /* margin: 15px 0 15px 0; */
  margin-left: 40px;
  margin-top: 0px;
  display: block;
}
.button-primary {
  /* background-color: aqua; */
  /* color: brown; */
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 51px;
}
button[type="button"] > i.fa-solid.fa-thumbs-up {
  margin-right: 5px;
}
button[type="button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40.1px;
  width: 79.3625px;
  padding: 8px 16px 8px 16px;
}
button[type="button"]:hover {
  background-color: #e0e0e0;
}
.button-primary button:nth-child(2) {
  background-color: black;
  color: white;
  height: 38.5px;
  width: 118.287px;
  display: inline-block;
}
.button-primary button:nth-child(2):hover {
  background-color: rgb(0, 0, 0); 
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  
}
.comments {
  display: flex;
  /* gap: 10px; */
  border-top: 1px solid #ccc;
  width: 910.388px;
  margin-left: 40px;
}
.img-smoke img{
  width: 50px;
  height: 100px;
}
.cmt-desc {
  margin-left: 10px;
}
.cmt-desc h1 {
  font-size: 15px;
  /* line-height: 22.5px; */
  color: black;
  padding-right: 640px;
}
.cmt-desc p {
  font-size: 15px;
  /* line-height: 22.5px; */
  color: black;
  width: 600px;

}
.cmt-desc span {
  font-size: 15px;
  line-height: 22.5px;
  color: black;
}


.number {
  background-color: white;
  height: 22.5px;
  width: 24.5875px;
  display: inline-block;
  padding: 0 8px 0 8px;
  color: black;
  font-size: 15px;
  line-height: 22.5px;
  gap: 0.5px;
  margin-left: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.number:hover {
  background-color: rgb(255, 238, 238);
}
/* --------------------blog section---------------------------------- */
.blog-content {
  /* background-color: brown; */
  height: 100vh;
  float: right;
  display: list-item;
  top: 0px;
}
.content {
  background-color: aqua;
  display: block;
  flex-direction: row;
  margin-bottom: 50px;
  color: black;
  top: 0px;
}
.content img {
  height: 247.025px;
  width: 463.188px;
  display: inline;
  vertical-align: middle;
}
.content h1 {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  width: 463.188px;
  margin-left: 20px;
  padding: 0 16px 0 16px;
  display: block;
  color: white;
  background-color: black;
}
.content p {
  font-size: 15px;
  line-height: 22.5px;
  padding-top: 15px;
  padding: auto;
  width: 463.188px;
  margin-left: 20px;
  display: block;
  background-color: black;
  color: white;
  margin-right: 20px;
}
.tags{
  background: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tags span{
background-color: rgb(234, 234, 234);
padding: 2px 6px;
font-size: 13px;
font-family: "Open Sans", sans-serif;
margin-bottom: 10px;
background-color: rgb(234, 234, 234);
}
.tags span:first-child{
  background-color: black;
  color: white !important;

}

/* -------------------contents section--------------------------- */
.contents {
  /* border: 2px solid rgb(60, 231, 60); */
  /* width: 33%; */
  align-items: center;
  color: white;
  padding: 0 8px 0 8px;
  height: 219.8px;
  width: 383.987px;
  font-size: 15px;
  /* line-height: 22.5px; */
  display: block;
  float: left;
  margin-top: 20px;
}
.postes {
  /* border: 2px solid rgb(60, 231, 60); */
  /* width: 33%;\\\\\\ */
  align-items: center;
  /* color: black; */
  /* padding: 0 8px 0 8px; */
  height: 219.8px;
  /* width: 383.987px; */
  margin-bottom: 200px;
  /* font-size: 15px; */
  /* line-height: 22.5px; */
  /* display: block; */
  /* float: left; */
} 
.postes.image-2 p{
  border-top: 1px solid #5c5b5b;
}
.postes h1 {
  color: white;
  text-align: left;
  margin-bottom: 20px;
  background-color: black;
  padding: 8px 30px 8px 16px;
  
}
.image {
  /* background: #b36969; */
  display: flex;
  gap: 10px;
  /* align-items: left; */
  /* padding: 3px;   */
  margin-bottom: 30px;
}
.image-2 {
  /* background: #b36969; */
  display: flex;
  gap: 10px;
  align-items: left;
  padding: 3px;

}
.image-2 p:first-child {
  color: black;
  font-size: 15px;
  line-height: 22.5px;
  width: 13.987px;
  padding-right: 100px;
}
.image p:first-child {
  color: black;
  font-size: 15px;
  line-height: 22.5px;
  width: 13.987px;
  padding-right: 100px;
}
.image p:last-child{
  color: black;
  font-size: 15px;
  line-height: 22.5px;
  width: 3.987px;
  gap: 10px;
  
}

.images-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image {
  width: 50px;
  height: 50px;
}
.image-2 {
  width: 50px;
  height: 50px;
}
.posts {
  background-color: blanchedalmond;
  color: black;
  transition: ;
}
.posts-content{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.posts-content2{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 30px;  
}
.posts-content3{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}


